<h3>Add new Book Form</h3>
<!-- title: String,
    author: String,
    genre: String,
    isFiction: Boolean,
    numberOfPages: Number -->
<form method="POST" action="/book/add">
    <div>
        <label>Title</label>
        <input type="text" name="title">
    </div>

    <div>
        <label>Author</label>
        <select name="author" multiple="multiple">
            <% authors.forEach(function(author){%>
                <option value="<%= author._id %>"><%= author.name %></option>
            <% }) %>
        </select>
    </div>

    <div>
        <label>Genre</label>
        <input type="text" name="genre">
    </div>

    <div>
        <label>Is Fiction?</label>
        <input type="text" name="isFiction">
    </div>

    <div>
        <label>Pages</label>
        <input type="text" name="numberOfPages">
    </div>
    <input type="submit">
</form>